@model IMDB2.Models.Person

@{
    ViewBag.Title = "AddFavoriteMovies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddFavoriteMovies</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Person</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Select Favorite Movie", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SelectedMovieId", (IEnumerable<SelectListItem>)ViewBag.MovieList, new { @class = "nav-link dropdown-toggle" })

            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add To Favorite" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Finish", "Index", "Profile")
</div>
<div style="height:10px"></div>
@if (Model.Movies.Any()) {
<div>
    <table class="table table-hover">

        <tbody>
            @foreach (var movie in Model.Movies)
            {
                <tr>


                    <th><a href="@Url.Content("/Movies/Details/"+movie.Id)">@movie.Name</a></th>
                    <td>@Html.ActionLink("Delete", "DeleteMovie", "Profile", new { id = movie.Id },null)</td>
                    

                </tr>
            }


            </tbody>
    </table>
</div>
}
