@*@model IMDB2.Models.Actor*@

@{
    ViewBag.Title = "AddActors";
}

<h2>AddActors</h2>


@using (Html.BeginForm("AddActors", "Actor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Actor</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
   
        
    <div class="form-group">
        @Html.Label("Select Actors", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("SelectedActorId", (IEnumerable<SelectListItem>)ViewBag.ActorList, new { @class = "nav-link dropdown-toggle" })

        </div>

    </div>
    <div style="height:20px"></div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add" class="btn btn-outline-success" />
        </div>
    </div>
    <div style="height:20px"></div>
    @Html.ActionLink("Add New Actor", "NewActor", "Actor", new { @class = "btn btn-warning" })

    <div style="height:20px"></div>
    @Html.ActionLink("Finish", "Index", "Movies")
</div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
