@model IMDB2.Models.Actor
@{
    ViewBag.Title = "ActorForm";



}
<h1>Add Actors Details</h1>
@{ <!--if (Model.Count() > 0)
    {
    <div>
        
            <div class="form-group">
                @Html.TextBoxFor(m => m.FirstName)
            </div
            <div class="form-group">
                @Html.TextBoxFor(m => m.LastName)
            </div>-->
            @*<div class="form-group">
                @Html.LabelFor(m => actor.Image)
                <input class="form-control" type="file" id="formFile">
            </div>*@
            @*<div class="form-group">
                @Html.TextBoxFor(m => actor.LastName)
            </div>*@
            <!--<div class="form-group">
                @Html.TextBoxFor(m => m.Age)
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Img)
            </div>
          
        
    </div>
    }
    else
    {-->

<div class="form-horizontal">
    <h4>Actor</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*@Html.HiddenFor(model => model.Id)*@

    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Img, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Img, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Img, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            <input class="form-control" type="file" id="formFile">
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IsFavorite, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsFavorite)
                @Html.ValidationMessageFor(model => model.IsFavorite, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>


</div>
 }

